<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Cliente</title>
    <link rel="stylesheet" href="consultar-cliente.component.css">
</head>

<body>
    <div class="container">
        <h3>Detalhes do Cliente</h3>
        <br>
        <div><label><b>ID:</b></label> {{ cliente.id }}</div>
        <div><label><b>Nome:</b></label> {{ cliente.nome }}</div>
        <div><label><b>RG:</b></label> {{ cliente.rg }}</div>
        <div><label><b>Orgão Emissor:</b></label> {{ cliente.orgEmissor }}</div>
        <div><label><b>Data de Emissão:</b></label> {{ cliente.dtEmissao | date }}</div>
        <div><label><b>CPF/CNPJ:</b></label> {{ cliente.cpfcnpj }}</div>
        <div><label><b>Data de Nascimento:</b></label> {{ cliente.dtNasc | date }}</div>
        <div><label><b>Telefone:</b></label> {{ cliente.telefone }}</div>
        <div><label><b>Celular:</b></label> {{ cliente.celular }}</div>
        <div><label><b>Email:</b></label> {{ cliente.email }}</div>
        <br>
        <label>
            <h4>Endereço</h4>
        </label>
        <br>
        <div><label><b>CEP:</b></label> {{ cliente.CEP }}</div>
        <div><label><b>Logradouro:</b></label> {{ cliente.logradouro }}</div>
        <div><label><b>Número:</b></label> {{ cliente.numero }}</div>
        <div><label><b>Complemento:</b></label> {{ cliente.complemento }}</div>
        <div><label><b>Bairro:</b></label> {{ cliente.bairro }}</div>
        <div><label><b>Cidade:</b></label> {{ cliente.cidade }}</div>
        <div><label><b>UF (Estado):</b></label> {{ cliente.UF }}</div>
        <br><br>
    </div>
    <div>
        <button (click)="retornar()" class="btn btn-success" style="margin-left: 10px;">Voltar</button>
    </div>
</body>

</html>
